
<div>
 <mat-form-field>
   <mat-select (selectionChange)="onChange($event)">
     <mat-option *ngFor="let v of selectionVals" [value]="v.val">{{v.name}}</mat-option>
   </mat-select>
 </mat-form-field>
</div>

<!--<div>-->
  <!--<mat-form-field>-->
    <!--<mat-select [(ngModel)]="regime" name="regime-input" #regimeWidget>-->
      <!--<mat-option [value]=1>daily</mat-option>-->
      <!--<mat-option [value]=7>weekly</mat-option>-->
      <!--<mat-option [value]=30>monthly</mat-option>-->
      <!--<mat-option [value]=0>bei Bedarf</mat-option>-->
      <!--<mat-option >other</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->
<!--</div>-->


<app-routes>

</app-routes>


<div>
  bottom of main
</div>
